<div class="reset-header">

  <div class="reset-badge">
    <mat-icon>lock_reset</mat-icon>
  </div>

  <h2>Reset Password</h2>

  <p>
    Create a new password for your PolicyGPT account.
  </p>

</div>


@if (successMessage) {

  <div class="success-message">

    <mat-icon>check_circle</mat-icon>

    <span>{{ successMessage }}</span>

  </div>

}


@if (errorMessage) {

  <div class="error-message">

    <mat-icon>error_outline</mat-icon>

    <span>{{ errorMessage }}</span>

  </div>

}


@if (token) {

  <form
    [formGroup]="resetForm"
    (ngSubmit)="resetPassword()"
    class="reset-form"
  >

    <mat-form-field
      appearance="outline"
      class="auth-field"
    >

      <mat-label>New Password</mat-label>

      <input
        matInput
        [type]="hidePassword ? 'password' : 'text'"
        formControlName="password"
        autocomplete="new-password"
        placeholder="Enter new password"
      />

      <button
        mat-icon-button
        matSuffix
        type="button"
        aria-label="Toggle password visibility"
        (click)="hidePassword = !hidePassword"
      >

        <mat-icon>
          {{ hidePassword ? 'visibility_off' : 'visibility' }}
        </mat-icon>

      </button>


      @if (
        resetForm.get('password')?.hasError('required') &&
        resetForm.get('password')?.touched
      ) {

        <mat-error>
          Password is required
        </mat-error>

      }


      @if (
        resetForm.get('password')?.hasError('minlength') &&
        resetForm.get('password')?.touched
      ) {

        <mat-error>
          Password must be at least 8 characters
        </mat-error>

      }

    </mat-form-field>


    <mat-form-field
      appearance="outline"
      class="auth-field"
    >

      <mat-label>Confirm Password</mat-label>

      <input
        matInput
        [type]="hideConfirmPassword ? 'password' : 'text'"
        formControlName="confirmPassword"
        autocomplete="new-password"
        placeholder="Confirm new password"
      />

      <button
        mat-icon-button
        matSuffix
        type="button"
        aria-label="Toggle password visibility"
        (click)="hideConfirmPassword = !hideConfirmPassword"
      >

        <mat-icon>
          {{
            hideConfirmPassword
              ? 'visibility_off'
              : 'visibility'
          }}
        </mat-icon>

      </button>


      @if (
        resetForm.get('confirmPassword')?.hasError('required') &&
        resetForm.get('confirmPassword')?.touched
      ) {

        <mat-error>
          Please confirm your password
        </mat-error>

      }


      @if (
        resetForm.hasError('passwordMismatch') &&
        resetForm.get('confirmPassword')?.touched
      ) {

        <mat-error>
          Passwords do not match
        </mat-error>

      }

    </mat-form-field>


    <div class="password-info">

      <mat-icon>info</mat-icon>

      <span>
        Password must contain at least 8 characters.
      </span>

    </div>


    <button
      mat-flat-button
      color="primary"
      type="submit"
      class="reset-button"
      [disabled]="resetForm.invalid || isLoading"
    >

      <mat-icon>
        {{ isLoading ? 'sync' : 'lock_reset' }}
      </mat-icon>

      <span>
        {{
          isLoading
            ? 'Resetting...'
            : 'Reset Password'
        }}
      </span>

    </button>

  </form>

}


<div class="back-login">

  <a routerLink="/">
    <mat-icon>arrow_back</mat-icon>
    <span>Back to Login</span>
  </a>

</div>