<mat-card class="policy-card">

  <div class="card-top">

    <div class="chip-group">
      <span class="category-chip">
        {{ policy.category }}
      </span>

      <span class="state-chip">
        {{ policy.state }}
      </span>
    </div>

    <span
      class="status-badge"
      [class.status-approved]="policy.status === 'Approved'"
      [class.status-pending]="policy.status === 'Pending'"
      [class.status-rejected]="policy.status === 'Rejected'"
    >
      <span class="status-dot"></span>
      {{ policy.status }}
    </span>

  </div>


  <div class="card-content">

    <h3 class="policy-title">
      {{ policy.policyName }}
    </h3>

    <p class="policy-description">
      {{ policy.description }}
    </p>


    <div class="policy-meta">

      <div class="meta-item">

        <span class="meta-icon">
          <mat-icon>account_balance</mat-icon>
        </span>

        <div>
          <span class="meta-label">Department</span>
          <span class="meta-value">
            {{ policy.department }}
          </span>
        </div>

      </div>


      <div class="meta-item">

        <span class="meta-icon">
          <mat-icon>event</mat-icon>
        </span>

        <div>
          <span class="meta-label">Published</span>
          <span class="meta-value">
            {{ policy.publicationDate }}
          </span>
        </div>

      </div>


      <div class="meta-item">

        <span class="meta-icon">
          <mat-icon>category</mat-icon>
        </span>

        <div>
          <span class="meta-label">Sector</span>
          <span class="meta-value">
            {{ policy.sector }}
          </span>
        </div>

      </div>

    </div>

  </div>


  <div class="card-footer">

    <span class="policy-reference">
      <mat-icon>description</mat-icon>
      Government Policy
    </span>

   <button
  mat-flat-button
  color="primary"
  class="rounded-xl! px-5! py-5!"
  (click)="viewDetails()"
>
  View Details
</button>

  </div>

</mat-card>