<div class="search-row">

  <mat-form-field appearance="outline" class="search-field">
    <mat-label>Search policies</mat-label>

    <input
      matInput
      type="text"
      [(ngModel)]="keyword"
      placeholder="Enter policy name, scheme or keyword"
      (keyup.enter)="searchPolicy()"
    />

    @if (keyword) {
      <button
        mat-icon-button
        matSuffix
        type="button"
        aria-label="Clear search"
        (click)="keyword = ''"
      >
        <mat-icon>close</mat-icon>
      </button>
    }
  </mat-form-field>

  <button
    mat-flat-button
    color="primary"
    class="search-button"
    type="button"
    (click)="searchPolicy()"
  >
    <mat-icon>search</mat-icon>
    Search
  </button>

</div>