<div class="forgot-header">

  <div class="forgot-badge">
    <mat-icon>lock_reset</mat-icon>
  </div>

  <h2>Forgot Password?</h2>

  <p>
    Enter your registered email address and we'll send you
    a link to reset your password.
  </p>

</div>


@if (successMessage) {

  <div class="success-message">

    <mat-icon>check_circle</mat-icon>

    <span>{{ successMessage }}</span>

  </div>

}


@if (errorMessage) {

  <div class="error-message">

    <mat-icon>error_outline</mat-icon>

    <span>{{ errorMessage }}</span>

  </div>

}


<form
  [formGroup]="forgotForm"
  (ngSubmit)="sendResetLink()"
  class="forgot-form"
>

  <mat-form-field
    appearance="outline"
    class="auth-field"
  >

    <mat-label>Email address</mat-label>

    <input
      matInput
      type="email"
      formControlName="email"
      autocomplete="email"
      placeholder="user@example.com"
    />

    <mat-icon matSuffix>email</mat-icon>


    @if (
      forgotForm.get('email')?.hasError('required') &&
      forgotForm.get('email')?.touched
    ) {

      <mat-error>
        Email is required
      </mat-error>

    }


    @if (
      forgotForm.get('email')?.hasError('email') &&
      forgotForm.get('email')?.touched
    ) {

      <mat-error>
        Enter a valid email address
      </mat-error>

    }

  </mat-form-field>


  <button
    mat-flat-button
    color="primary"
    type="submit"
    class="reset-button"
    [disabled]="forgotForm.invalid || isLoading"
  >

    <mat-icon>
      {{ isLoading ? 'sync' : 'mail' }}
    </mat-icon>

    <span>
      {{ isLoading ? 'Sending...' : 'Send Reset Link' }}
    </span>

  </button>

</form>


<div class="back-login">

  <a routerLink="/">
    <mat-icon>arrow_back</mat-icon>

    <span>Back to Login</span>
  </a>

</div>